* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

#header {
  background-image: url("./assets/headerbg.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 10px;
  height: 187px;
}

#logo {
  background-image: url("./assets/logo.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 63px;
  grid-column: 2/8;
  grid-row: 1;
}

button {
  background-color: #145ca7;
  height: 74px;
  width: 100%;
  font: 20px/24px "SFProBold";
  letter-spacing: 0px;
  color: #fff;
}

#info {
  text-align: center;
  margin-top: 20px;
}

#info h2 {
  font: 18px/21px "SFProBold";
  color: #141530;
  text-transform: uppercase;
  grid-column: 2/8;
}

#info h4 {
  font: 16px/30px "SFPro";
  color: #535353;
  grid-column: 2/8;
}

#info strong {
  font: 16px/30px "SFProBold";
  color: #dd1846;
  grid-column: 2/8;
}

#phone {
  margin-top: 20px;
  text-align: center;
}

#services {
  text-align: center;
}

#services ul {
  grid-column: 1/9;
}

#services li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

#services strong {
  font: 18px/21px "SFProBold";
  letter-spacing: 0px;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-top: 20px;
}

#services h2 {
  font: 16px/30px "SFPro";
  letter-spacing: 0px;
  color: #535353;
  margin-top: 10px;
}

#highlight {
  text-align: center;
  height: 501px;
  background: #f3f6f6;
}

#highlight strong {
  font: 18px/21px "SFProBold";
  letter-spacing: 0px;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-top: 20px;
  grid-column: 1/9;
  grid-row: 1;
  margin-top: 31px;
}

#highlight h2 {
  font: 16px/30px "SFPro";
  letter-spacing: 0px;
  color: #535353;
  margin-top: 10px;
  grid-column: 1/9;

  grid-row: 2;
  margin-top: 22px;
}

#highlight div {
  align-self: center;
  grid-column: 1/9;
}

#register {
  margin-top: 20px;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  font-family: "SFPro";
}

@font-face {
  font-family: "SFPro";
  src: url("./assets/fonts/SanFrancisco.otf");
}
@font-face {
  font-family: "SFProBold";
  src: url("./assets/fonts/SanFranciscoBold.otf");
}

/* small tablet styles */

@media screen and (min-width: 620px) {
}

/* large tablet & laptop styles */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* desktop styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
